<form [formGroup]="filterForm" (ngSubmit)="applyFilters()">
  <div>
    <label for="priceFrom">Price From:</label>
    <input id="priceFrom" formControlName="priceFrom" type="number">
  </div>
  <div>
    <label for="priceTo">Price To:</label>
    <input id="priceTo" formControlName="priceTo" type="number">
  </div>
  <div>
    <label for="ratingFrom">Rating From:</label>
    <input id="ratingFrom" formControlName="ratingFrom" type="number" min="0" max="5">
  </div>
  <div>
    <label for="ratingTo">Rating To:</label>
    <input id="ratingTo" formControlName="ratingTo" type="number" min="0" max="5">
  </div>
  <div>
    <label>
      <input type="checkbox" formControlName="inStock"> In Stock
    </label>
  </div>
  <div>
    <label>
      <input type="checkbox" formControlName="hasReviews"> Has Reviews
    </label>
  </div>
  <button type="submit">Apply Filters</button>
</form>
