<div class="content">
<aside class="filters">
    <form [formGroup]="filterForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="priceFrom">Price From:</label>
        <input id="priceFrom" formControlName="priceFrom" type="number" min="0">
      </div>
      <div>
        <label for="priceTo">Price To:</label>
        <input id="priceTo" formControlName="priceTo" type="number" min="0">
      </div>
      <div>
        <label for="ratingFrom">Rating From:</label>
        <input id="ratingFrom" formControlName="ratingFrom" type="number" min="0" max="5">
      </div>
      <div>
        <label for="ratingTo">Rating To:</label>
        <input id="ratingTo" formControlName="ratingTo" type="number" min="0" max="5">
      </div>
      <div>
        <label>
          <input type="checkbox" formControlName="inStock"> In Stock
        </label>
      </div>
      <div>
        <label>
          <input type="checkbox" formControlName="hasReviews"> Has Reviews
        </label>
      </div>
      <button type="submit">Apply Filters</button>
      <div class="btn btn-default btn-block" (click)="onClear()">
        <span>Clear filters</span>
        <button class="btn close clear-btn">✕</button>
      </div>
      <span *ngIf="badgeTiles.length!=0">{{ products.length }} product(s) found</span>
    </form>
    <div class="filter-badges__wrapper">
      <div *ngFor="let badgeTile of badgeTiles; let i=index" class="filter-badges__item">
        <span>{{ badgeTile }}</span>
        <button type="button" class="btn btn-default filter-badges__button" (click)="removeFilter(i)">✕</button>
      </div>
    </div>
</aside>
<div class="container">
  <div class="product-grid">
    <div *ngFor="let product of products" class="product-item">
      <app-product-tile [product]="product"></app-product-tile>
    </div>
  </div>
</div>
</div>
