<div class="container">
  <div class="auth">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm" [ngClass]="{ 'registration-form': !isAuthentication }">
      <h2>{{isAuthentication ? "Sign in" : "Sign up"}}</h2>
      <div *ngIf="!isAuthed && f.submitted" class="toast bg-danger">
        Please check your email and password
      </div>
      <div class="form-group" [ngClass]="{'has-error': f.submitted && !email.valid}">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" name="email" ngModel #email="ngModel" id="exampleInputEmail1" placeholder="Email" required email>
        <div *ngIf="f.submitted && !email.valid" class="error-message">
          <span *ngIf="email.errors?.['required']">Email is required.</span>
          <span *ngIf="email.errors?.['email']">Email is not valid.</span>
        </div>
      </div>
      <div class="form-group" [ngClass]="{'has-error': f.submitted && !password.valid}">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" name="password" ngModel #password="ngModel" id="exampleInputPassword1" placeholder="Password" required pattern="(?=^.{6,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$">
        <div *ngIf="f.submitted && !password.valid" class="error-message">
          <span *ngIf="password.errors?.['required']">Password is required.</span>
          <span *ngIf="password.errors?.['pattern']">Password must be at least 6 characters long and contain at least one uppercase letter, one lowercase letter, and one number or special character.</span>
        </div>
      </div>
      <button type="submit" class="btn btn-default" [disabled]="!f.form.valid">{{isAuthentication ? "Sign in" : "Register"}}</button>
    </form>
    <br>
    <p>{{isAuthentication ? "Do you already have an account?" : "Don't have an account?"}}
      Please, click <a (click)="onChangeAuth()" class="auth-link">here</a>!
    </p>
  </div>
</div>
